body {
  font-family: 'Libre Franklin', sans-serif;     /* libre franklin font is linked in the homepage.html */
}

header .navbar-brand {
  font-weight: 700px;
}

.jumbotron {
  background-image: url("https://image.ibb.co/jcH0AU/jumbo_background.jpg");
  height: 850px;
  display: flex;
  background-size: cover;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  margin-bottom: 0;
}

.jumbotron h1 {
  color: white;
  letter-spacing: 1px;
  font-weight: 800;
}

.jumbotron p {
  color: white;
  letter-spacing: 1px;
}

.jumbotron a {
  margin-top: 30px;
}

.btn-default {
  background-color: #2ed3ae;
  color: black;
}

.container-fluid {
  padding-left: 100px;
  padding-top: 50px;
}

.navbar-nav a {
  color: black;
  font-size: 16px;
  padding: 13px 0px;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 500;
}

.offer-box {
  border: 1px solid black;
  margin-bottom: 200px;
  padding-bottom: 100px;
}

#offer-list-title {
  font-size: 32px;
  line-height: 1.35;
  font-weight: 200;
  font-family: inherit;
  color: #151515;
  text-align: center;
}

.container-wide {
  background-color: #2ed3ae;
  padding: 50px 0;
  font-size: 28px;
  color: white;
  width: 100%;
}

.green-box {
  background-color: #2ed3ae;
}

.green-box p {
  font-size: 20px;
}

.btn-secondary {
  background-color: white;
  color: #2ed3ae;
  font-size: 12px;
  font-weight: 600;
}
