body {
  font-family: 'Libre Franklin', sans-serif;     /* libre franklin font is linked in the homepage.html */
}

header .navbar-brand {
  font-weight: 700px;
}

.jumbotron {
  background-image: url("https://image.ibb.co/jcH0AU/jumbo_background.jpg");
  height: 850px;
  display: flex;
  background-size: cover;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  margin-bottom: 0;
}

.jumbotron h1 {
  color: white;
  letter-spacing: 1px;
  font-weight: 800;
}

.jumbotron p {
  color: white;
  letter-spacing: 1px;
}

.jumbotron a {
  margin-top: 30px;
}

.btn-default {
  background-color: #2ed3ae;
  color: black;
}

.padd-fluid {
  padding-left: 100px;
  padding-top: 50px;
}

.navbar-nav a {
  color: black;
  font-size: 16px;
  padding: 13px 0px;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 500;
}

.btn-secondary {
  background-color: white;
  color: #2ed3ae;
  font-size: 12px;
  font-weight: 600;
}

.bg-greenbox {
  background-color: #2ed3ae;
  color: white;
}

.boxes {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row h3 {
  line-height: 1.35;
  text
}

@media {
	.container-wide {
		max-width: 1500px;
	}
}

.custom-height {
  line-height: 1.6;
}

.offer {
  background-color: #f8f8f8;
}

.offer-list img {
  max-width: 500px;
  position: relative;
}

.offer-list img:hover {
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.text-block {
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;
}

.footer-copyright {
  background-color: #20987d;
  color: #3bfbd0;
}

.footer-copyright a {
  color: white;
}

.footer {
  background-color: #2ed3ae;
}
